*{
    margin: 0;
}

body{
    font-family: "Mulish", "Poppins", sans-serif;
}

.container{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto auto;
}

/*---------------------------------------------------------------sidebar*/

.sidebar{
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    background-color: beige;
    display: flex;
    flex-direction: column;
}

.logo-container{
    display: flex;
    padding: 1rem;
    position: relative;
}

.logo-name{
    font-family: 'Abril Fatface', serif;
    font-size: 2.5rem;
}

.sidebar-nav > ul > li{
    list-style-type: none;
    padding: 1.1rem;
    font-weight: 400;
}

ul{
    padding: 0;
    margin: 0;
}

.sidebar-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/*-------------------------------------------------------------header*/
.header{
    background-color: rgb(206, 204, 204);
    grid-column: 2/-1;
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.menu > ul > li{
    list-style-type: none;
}

.menu p{
    margin: 0;
}



.main{
    background-color: rgb(206, 204, 204);
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto auto 1fr 1fr;
    padding: 0 1.5rem 1.5rem;

}

.courses{
    grid-area: 1/1/2/-1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.courses div{
    background-color: bisque; 
    height: 150px;
    width: auto; 
}

.tutor-feedback{
    grid-area: 2/1/3/-1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.tutor-fb-chart{
    background-color: rgb(92, 131, 70);
    grid-column: 1/6;
}

.breakdown div{
    padding: 1rem;
    text-align: center;
    flex: 1;
    
}

.breakdown{
    grid-column: 6/-1;
    display: flex;
    flex-direction: column;
}

@media (max-width: 660px), (min-width: 720px) and (max-width: 920px) {
    .tutor-feedback {
       grid-template-columns: 1fr;
    }
 
    .tutor-fb-chart {
       grid-column: 1 / -1;
       border: 2px solid #dfe0eb;
       border-radius: 0.5rem;
    }
 
    .breakdown {
       grid-column: 1 / -1;
       border-radius: 0.5rem;
       margin-top: 1.5rem;
    }
}

.logistics-cards{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 1.5rem;    
    padding-top: 1.5rem;
}

.card-tickets{
    grid-column: 1/2;
    background-color: white;
}

.card-tasks{
    grid-column: 2/3;
    background-color: white;
}

.card-title{
    display: flex;
    justify-content: space-between;
}

.card-header{
    padding: 20px;
}

.card-header > p{
    margin-top: 5px;
    font-size: smaller;
}

.card-item{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    border-bottom: 2px solid grey;
}