/*variables*/
:root{
    --background-colour: #588157;
    --hover-bg-colour: #414833;
    --border-colour1: #3a5a40;
    --border-colour2: #3a5a40;
    --sidebar-colour: #3a5a40;
    --subject-colour: #a3b18a;
    --card-colour: #a3b18a;
    --font-colour1: black;
    --font-colour2: ;
    --icon-colour: #dad7cd;
    --sidebar-text: #dad7cd;
    --logo: #0d1b2a;
    --feedback-chart-colour: #344e41;
    --feedback-breakdown: #a3b18a;
}

*{
    margin: 0;
}

body{
    font-family: "Mulish", "Poppins", sans-serif;
}

.container{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto auto;
}

/*---------------------------------------------------------------sidebar*/

.sidebar{
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    background-color: var(--sidebar-colour);
    display: flex;
    flex-direction: column;
}

.logo-container{
    display: flex;
    padding: 1rem;
    position: relative;
}

.logo-name{
    font-family: 'Abril Fatface', serif;
    font-size: 2.5rem;
    color: var(--logo);
}

.sidebar-nav > ul > li{
    list-style-type: none;
    padding: 1.1rem;
    font-weight: 400;
    display: flex;
}

.sidebar-nav > ul > li:hover{
    background-color: var(--hover-bg-colour);
    border-left: 8px solid #c2c5aa;
}

ul{
    padding: 0;
    margin: 0;
}

.sidebar-nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.sidebar i {
    color: var(--icon-colour);
    margin-right: 1.25rem;
    margin-left: 0.75rem;
    min-width: 25px;
}

.sidebar-nav > ul> li > p{
    color: var(--sidebar-text);
}

/*-------------------------------------------------------------header*/
.header{
    background-color: var(--background-colour);
    grid-column: 2/-1;
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    padding-top: 2rem;
}

.page-title{
    font-size: 1.5rem;
    font-weight: bold;
}

.menu > ul > li{
    list-style-type: none;
}

.menu, .menu ul{
    display: flex;
}

.menu ul{
    gap: 20px;
}

.name{
    border-left: solid 1px;
}

.user-img, .name, .bell, .magnifying-glass{
    padding: 0.5rem;
}

.menu p{
    margin: 0;
}

/*-------------------------------------------------------------courses*/

.courses{
    grid-area: 1/1/2/-1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.courses div{
    position: relative;
    background-color: var(--subject-colour); 
    height: 150px;
    width: auto; 
    border-radius: 0.5rem;
    position: relative;
    border: 2px solid var(--border-colour1);
    overflow: hidden;
}

.courses div:hover{
    border: 4px solid #414833;
}

.courses div p{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    font-weight: 700;
}


.main{
    background-color: var(--background-colour);
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto auto 1fr;
    padding: 0 1.5rem 1.5rem;

}

/*tutor-feedback------------------------------------------------*/

.tutor-feedback{
    grid-area: 2/1/3/-1;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border-radius: 0.5rem;
    background-color: var(--feedback-breakdown);
    border: 2px solid var(--border-colour1);
}
  
svg{
    width: 100%;
}

.tutor-fb-chart{
    position: relative;
    grid-column: 1/6;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-right: 2px solid var(--border-colour1);
    overflow: hidden;
    display: flex;
    align-items: end;
}

.fb-title{
    position: absolute;
    top: 1.2rem;
    left: 1.2rem;
    font-weight: 700;
    font-size: 1.2rem;
}

.breakdown div{
    padding: 2rem;
    text-align: center;
    flex: 1;
}

.breakdown > div > p + p{
    font-weight: bolder;
    font-size: 1.8rem;
    color: black;
}

.child1, .child2, .child3{
    border-bottom: 2px solid var(--border-colour2);
}


.breakdown > div > p{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 8px;
    color: var(--font-colour1)
}

.breakdown{
    grid-column: 6/-1;
    display: flex;
    flex-direction: column;
}

@media (max-width: 660px), (min-width: 720px) and (max-width: 920px) {
    .tutor-feedback {
       grid-template-columns: 1fr;
    }
 
    .tutor-fb-chart {
       grid-column: 1 / -1;
       border: 2px solid var(--border-colour);
       border-radius: 0.5rem;
    }
 
    .breakdown {
       grid-column: 1 / -1;
       border-radius: 0.5rem;
       margin-top: 1.5rem;
    }
}

/*----------------------------------------------------------log-cards*/

.logistics-cards{
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 1.5rem;    
    padding-top: 1.5rem;
}

.card-tickets{
    grid-column: 1/2;
    background-color: var(--card-colour);
    border-radius: 0.5rem;
    border: 2px solid var(--border-colour1);
}

.card-tasks{
    grid-column: 2/3;
    background-color: var(--card-colour);
    border-radius: 0.5rem;
    border: 2px solid var(--border-colour1);
}

.card-title{
    display: flex;
    justify-content: space-between;
}

.card-title > p:first-child{
    font-size: 1.2rem;
    font-weight: 700;
}

.card-title > p:last-child:hover{
    text-decoration: underline;
}

.card-header{
    padding: 20px;
}

.card-header > p{
    margin-top: 5px;
    font-size: smaller;
}

.card-item{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.card-item p:last-child{
    font-weight: 700;
}